html, body {
    background-color: #2cb9ff;
    font-family: "Ubuntu", sans-serif;
    margin: 0px;
    padding: 0px;
}

.right {
    float: right;
}

.top_divide {
    margin-top: 20px;
}

.uk-navbar-nav li a {
    color: #fff;
}

.uk-navbar-nav li a:hover {
    color: #fff;
}

.uk-navbar-nav li {
    border-bottom: solid 1px transparent;
    transition: all 0.5s;
}

.uk-navbar-nav li:hover {
    border-bottom: solid 1px #fff;
}

.uk-container {
    position: relative;
    min-height: 100%;
}

#center_icon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#center_icon_description {
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#center_icon_description p {
    color: #fff;
}

#footer {
    background-image: url('../images/waves.png');
    background-repeat: repeat;
    width: 100%;
    height: 116px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    clear: both;
}

#footer .uk-container .right {
    margin-top: 65px;
}

#footer .uk_container .right p a {
    text-decoration: none;
}
