{% extends "layout.html" %}

{% block title %}Create device{% endblock %}

{% block content %}
<div class="uk-container">
    <div class="uk-section uk-section-default uk-padding top_divide">
        <h1 class="uk-heading-line"><span>Create new device</span></h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages: %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="uk-alert-warning" uk-alert><p><b>Info</b>: Token will be generated when you register a new device!</p></div>

        <form action="{{ url_for('create_device') }}" class="uk-form-horizontal uk-margin-large" method="post">

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Name</label>
                <div class="uk-form-controls">
                    <input class="uk-input" name="device_name" type="text" placeholder="Name to describe your device">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Timing in seconds</label>
                <div class="uk-form-controls">
                    <select name="timing" class="uk-select">
                        <option value="30">30</option>
                        <option value="60">60</option>
                        <option value="90">90</option>
                    </select>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Location</label>
                <div class="uk-form-controls">
                    <input class="uk-input" name="location" type="text" placeholder="City, State">
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-form-controls">
                    <button class="uk-button uk-button-danger">Register new device</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
