{% extends "layout.html" %}

{% block title %}Devices{% endblock %}

{% block content %}
<div class="uk-container">
    <div class="uk-section uk-section-default uk-padding top_divide">
        <h1 class="uk-align-left"><span>Devices</span></h1>
        <a class="uk-button uk-button-secondary uk-align-right" href="{{ url_for('create_device') }}"><span uk-icon="plus"></span>Add New Device</a>

        <div class="uk-section uk-section-default">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages: %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% if devices|length > 0 %}
                <table class="uk-table uk-table-middle uk-table-divider">
                    <thead>
                        <tr>
                            <th class="uk-width-small">Name</th>
                            <th>Timing</th>
                            <th>Location</th>
                            <th>Activated</th>
                            <th>Token</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for i, device in e_devices %}
                        <tr>
                            <td>{{ device.name }}</td>
                            <td>{{ device.timing }}s</td>
                            <td>{{ device.location }}</td>
                            {% if device.activated %}
                            <td><span class="uk-label uk-label-success">ONLINE</span></td>
                            {% else %}
                            <td><span class="uk-label uk-label-danger">OFFLINE</span></td>
                            {% endif %}
                            <td>{{ device.token }}</td>
                            <td><a href="{{ url_for('delete_device', token=device.token) }}" class="uk-button uk-button-danger" type="button">Delete</a></td>
                            <td><a class="uk-button uk-button-default" href="#modal-container{{ i }}" uk-toggle>Data</a></td>
                        </tr>
                {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="uk-placeholder uk-text-center">There are no connected devices for your account. Press button "Add New Device" in order to register one.</div>
            {% endif %}

            {% if measurements|length > 0 %}
                {% for device in devices %}
                    <div id="modal-container{{ loop.index0 }}" class="uk-modal-container" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <button class="uk-modal-close-default" type="button" uk-close></button>
                            <h2 class="uk-modal-title">Measurements: {{ measurements[loop.index0]|length }}</h2>

                            {% if measurements|length > loop.index0 and measurements[loop.index0]|length > 0 %}
                                <table class="uk-table uk-table-middle uk-table-divider">
                                    <thead>
                                        <tr>
                                            <th class="uk-width-small">Temperature</th>
                                            <th>Pressure</th>
                                            <th>Humidity</th>
                                            <th>PM 1</th>
                                            <th>PM 2.5</th>
                                            <th>PM 10</th>
                                            <th>Date and Time</th>
                                            <th>Token</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for measurement in measurements[loop.index0] %}
                                            <tr>
                                                <td>{{ measurement.temperature }} &deg;C</td>
                                                <td>{{ measurement.pressure }} hPa</td>
                                                <td>{{ measurement.humidity }}%</td>
                                                <td>{{ measurement.pm1 }} &micro;m</td>
                                                <td>{{ measurement.pm25 }} &micro;m</td>
                                                <td>{{ measurement.pm10 }} &micro;m</td>
                                                <td>{{ measurement.date_time }}</td>
                                                <td>{{ measurement.token }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="uk-placeholder uk-text-center">There is no data recorded for given token.</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
