{% extends "layout.html" %}

{% block title %}Air Quality{% endblock %}

{% block content %}
    <div id="center_icon">
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/icon.png') }}"></a>
    </div><!-- end center_icon -->

    <div id="center_icon_description">
        <p>Measuring air quality, temperature and humidity!</p>
    </div><!-- end center_icon_description -->
{% endblock %}
