<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.8/css/uikit.min.css" />

        <!-- Ubuntu Font -->
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

        <!-- main CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        
        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.8/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.8/js/uikit-icons.min.js"></script>
    </head>
    <body>
        {% if 'signedin' in session %}
            <div class="uk-container">
                <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                    <div class="uk-navbar-left">
                        <ul class="uk-navbar-nav">
                            <li><a href="{{ url_for('home') }}">Home</a></li>
                            <li><a href="{{ url_for('search') }}">Search</a></li>
                        </ul>
                    </div>

                    <div class="uk-navbar-right">
                        <button class="uk-button uk-button-danger" type="button">{{first_name}} {{ surname }}</button>
                        <div uk-drop="mode: click">
                            <div class="uk-card uk-card-body uk-card-default">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="{{ url_for('device') }}">Device</a></li>
                                    <li><a href="#">Settings</a></li>
                                    <li><a href="{{ url_for('logout') }}">Log out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        {% else %}
            <div class="uk-container">
                <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                    <div class="uk-navbar-left">
                        <ul class="uk-navbar-nav">
                            <li><a href="{{ url_for('home') }}">Home</a></li>
                            <li><a href="{{ url_for('search') }}">Search</a></li>
                        </ul>
                    </div>

                    <div class="uk-navbar-right">
                        <a href="{{ url_for('signin') }}">
                            <button class="uk-button uk-button-primary">Login</button>
                        </a>
                        <a href="{{ url_for('signup') }}">
                            <button class="uk-button uk-button-danger">Sign up</button>
                        </a>
                    </div>
                </nav>
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}

        <div id="footer">
            <div class="uk-container">
                <div class="right">
                    <p>&copy; 2018 - <a class="uk-link-muted" href="#" target="_blank">source code</a></p>
                </div><!-- end right -->
            </div><!-- end footer_container -->
        </div><!-- end footer -->
    </body>
</html>
