{% extends "layout.html" %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="uk-container">
    <div class="uk-section uk-section-default uk-padding top_divide">
        <h1 class="uk-heading-line"><span>Find measurement information</span></h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages: %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}

        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <div class="uk-navbar-item">
                    <form action="{{ url_for('search') }}" class="uk-search uk-search-navbar" method="post">
                        <span uk-search-icon></span>
                        <input class="uk-search-input" type="search" placeholder="City, State" name="search">
                    </form>
                </div>
            </div>
        </nav>

        {% if average_measurements|length > 0 %}
            <h1 class="uk-heading-bullet">{{ location }} (average)</h1>
            <hr class="uk-divider-icon">
            
            <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <div class="uk-background-primary uk-card-default uk-card-body" style="color: white;">{{ average_measurements["temperature"] }} &deg;C</div>
                </div>
                <div>
                    <div class="uk-background-primary uk-card-default uk-card-body" style="color: white;">{{ average_measurements["pressure"] }} hPa</div>
                </div>
                <div>
                    <div class="uk-background-primary uk-card-default uk-card-body" style="color: white;">{{ average_measurements["humidity"] }}%</div>
                </div>
            </div>

            <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <div class="uk-background-primary uk-card-default uk-card-body" style="color: white;">{{ average_measurements["pm1"] }} &micro;m (pm1)</div>
                </div>
                <div>
                    <div class="uk-background-primary uk-card-default uk-card-body" style="color: white;">{{ average_measurements["pm25"] }} &micro;m (pm2.5)</div>
                </div>
                <div>
                    <div class="uk-background-primary uk-card-default uk-card-body" style="color: white;">{{ average_measurements["pm10"] }} &micro;m (pm10)</div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
