{% extends "layout.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div class="uk-container">
    <div class="uk-section uk-section-default uk-padding top_divide">
        <h1 class="uk-heading-line"><span>Create a new account</span></h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages: %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action="{{ url_for('signup') }}" class="uk-form-horizontal uk-margin-large" method="post">

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">First name</label>
                <div class="uk-form-controls">
                    <input class="uk-input" name="first_name" type="text" placeholder="Enter your first name">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Surname</label>
                <div class="uk-form-controls">
                    <input class="uk-input" name="surname" type="text" placeholder="Enter your surname">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Email</label>
                <div class="uk-form-controls">
                    <input class="uk-input" name="email" type="email" placeholder="Enter your email">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Password</label>
                <div class="uk-form-controls">
                    <input class="uk-input" name="password" type="password">
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-form-controls">
                    <button class="uk-button uk-button-danger">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
